/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
  }

  .card {
    background-color: #1e1e1e; /* Dark card background */
    color: #ffffff; /* Light text */
  }

  .textarea {
    background-color: #333; /* Dark textarea background */
    color: #ffffff; /* Light text */
    border: 1px solid #555; /* Darker border */
  }

  .link {
    color: #1e90ff; /* Light link color */
  }

  .tweetButton {
    background-color: #6a5acd; /* Adjust button color for dark mode */
  }
}

/* Add these keyframes and styles */
@keyframes gradient-flow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-title {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #FF2670,
    #E4FF07,
    #7916F3,
    #07FFFF,
    #FF2670,
    #E4FF07,
    #7916F3
  );
  background-size: 400% 400%;
  animation: gradient-flow 8s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  margin-bottom: 20px;
}
